body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&__close {
		outline: none;
	}
}

.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	border-radius: 20px;

	.lock & {
		visibility: visible;
	}
}

.gallery-slider {


	// .gallery-slider__images
	&__images {
		position: relative;
		@include adaptiveValue("margin-bottom", 36, 8);
		&_header-slider{
			max-height: rem(558);
			border-top: 7px solid #4D4D4D;
			border-bottom: 7px solid #4D4D4D;
			margin-bottom: 70px;
			@media (max-width:$mobile){
				border-top: none;
				border-bottom: none;
			}
		}
		@media (any-hover: hover){
			&:hover{
				.gallery-slider__prev {
					left: 15.2%;
				}
				.gallery-slider__next {
					right: 15.2%;
				}
			}
		}
	}

	// .gallery-slider__wrapper
	&__wrapper {
	}

	// .gallery-slider__image
	&__image {
		width: percent(1136, 1920);
		height: percent(842, 1080);
		&_header-slider{
			border-left: 7px solid #4D4D4D;
			border-right: 7px solid #4D4D4D;
			@media (max-width:$mobile){
				width: 100%;
				border-left: none;
				border-right: none;
				padding: 0px 15px 0px 15px;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.swiper-slide-prev,
		&.swiper-slide-next {
			transition: all 0.3s ease 0s;
			filter: brightness(.26)
		}
	}

	// .gallery-slider__prev
	&__prev {
		position: absolute;
		top: 50%;
		left: -100%;
		font-size: rem(49);
		color: $white;
		transform: translate(0px, -50%);
		cursor: pointer;
		transition: left 0.8s ease 0s;
		@media (max-width:$tablet){
			left: 15.2%;
		}
		@media (max-width:$mobileSmall){
			left: 6%;
		}
		&_header-slider{
			@media (max-width:$mobile){
				font-size: rem(23);
				color: #ffffffa6;
				left: 6%;
			}
		}
	}

	// .gallery-slider__next
	&__next {
		position: absolute;
		top: 50%;
		right: -100%;
		font-size: rem(49);
		color: $white;
		transform: translate(0px, -50%);
		cursor: pointer;
		transition: right 0.8s ease 0s;
		@media (max-width:$tablet){
			right: 15.2%;
		}
		@media (max-width:$mobileSmall){
			right: 6%;
		}
		&_header-slider{
			@media (max-width:$mobile){
				right: 6%;
				font-size: rem(23);
				color: #ffffffa6;
			}
		}
	}

	// .gallery-slider__tumbs
	&__tumbs {
		width: 80%;
		margin: 0px auto;
	}

	// .gallery-slider__tumb
	&__tumb {
		@include adaptiveValue("flex-basis", 244, 86);
		@include adaptiveValue("height", 175, 63);
		@include adaptiveValue("padding-left", 18, 4);
		@include adaptiveValue("padding-right", 18, 4);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}
}
.swiper-slide-thumb-active {
	img{
		transition: border 0.3s ease 0s;
		border: 5px solid $orange;
	}
}






//===========================DEALER PAGE POPUP FORM========================================

.popup {

	&_dealer {
	}

	&__wrapper {

		&_dealer {
		}
	}

	&__content {
		&_dealer {
			border-radius: 0px;
			padding: 0px;
			max-width: rem(1111);
			background: #F4F4F4;
			border: 10px solid #FF8A00;
			padding-top: rem(52);
			padding-bottom: rem(106);
		}
	}
	&__close {
		&_dealer {
			position: absolute;
			top:20px;
			right: 20px;
		}
	}

	&__form {
	}
}
.form-dealer {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		font-size: rem(36);
		line-height: math.div(42 ,36 );
		text-align: center;
		text-transform: uppercase;
		padding-bottom: rem(31);
		@media (max-width:$mobile){
			display: none;
		}
	}

	&__subtitle {
		font-size: rem(18);
		@include adaptiveValue("font-size",18 ,12 );
		line-height: math.div(21 ,18 );
		text-align: center;
		@include adaptiveValue("padding-bottom",41 ,27 );
		padding-left: rem(20);
		padding-right: rem(20);
		@media (max-width:$mobile){
			font-weight: 300;
		}
	}
	&__form{
		display: flex;
		justify-content: center;
		padding: 0px rem(25);
		width: 100%;
		max-width: rem(609);
	}
}
.dealer-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: rem(38);
	@media (max-width:$mobile){
		row-gap: rem(10);

	}
	&__name,
	&__company,
	&__phone,
	&__email,
	&__region,
	&__message{
		display: flex;
		flex-direction: column;
		align-self: stretch;
	}
	&__name {
	
	}

	&__company {
		
	}

	&__phone {
		
	}

	&__email {
		
	}

	&__region {
		
	}

	&__message {
		
	}

	&__button {
		max-width: rem(216);
		margin: 0 auto;
		@media (max-width:$mobile){
			margin-top: rem(20);
		}
	}
}


.label-dealer{
	line-height: math.div(28 ,24 );
	@include adaptiveValue("font-size",24 ,12 );
}
.input-dealer{
	background: $white;
	border: 2px solid #FF8A00;
	padding: rem(21);
	@include adaptiveValue("font-size",24 ,12 );
	@media (max-width:$mobile){
		padding: rem(5);
	}
}
.name-dealer {

	&__label {
	}

	&__input {
	}
}
.company-dealer {

	&__label {
	}

	&__input {
	}
}
.phone-dealer {

	&__label {
	}

	&__input {
	}
}
.email-dealer {

	&__label {
	}

	&__input {
	}
}
.region-dealer {

	&__label {
	}

	&__select {
		
	}
	
	&__option {
		
	}
}
.message-dealer {
	display: flex;
	flex-direction: column;
	&__label {
	}

	&__input {
		resize: none;
		flex:1 1 rem(265);
		@media (max-width:$mobile){
			flex:1 1 rem(172);
		}
	}
}
.common-button {

	&_dealer {
	}
}
