body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}

.gallery-slider {
	
	
	// .gallery-slider__images
	&__images {
		@include adaptiveValue("margin-bottom", 36, 8);
	}
	
	// .gallery-slider__wrapper
	&__wrapper {
	}

	// .gallery-slider__image
	&__image {
		width: percent(1136,1920);
		height: percent(842,1080);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .gallery-slider__prev
	&__prev {}

	// .gallery-slider__next
	&__next {}

	// .gallery-slider__tumbs
	&__tumbs {
		width: 80%;
		margin: 0px auto;
	}
	
	// .gallery-slider__tumb
	&__tumb {
		@include adaptiveValue("flex-basis", 244, 86);
		@include adaptiveValue("height", 175, 63);
		@include adaptiveValue("padding-left", 18, 4);
		@include adaptiveValue("padding-right", 18, 4);
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}
}
.swiper-slide-prev,
.swiper-slide-next {
	transition: all 0.3s ease 0s;
	filter:brightness(.25)
}

