.gallery {
	// .gallery__container
	&__container {
			@include adaptiveValue("padding-top", 75, 20);
			@include adaptiveValue("padding-bottom", 115, 20);
		}
		// .gallery__title
		&__title {
		}
		// .gallery__wrapper
		&__wrapper {
			background: #000000;
			padding: 15px;
		}
		// .gallery__body
		&__body {
		}
}

.lg {
	display: flex;
	flex-wrap: wrap;
	gap: 15px 15px;
		// .lg__item
		&__item {
			position: relative;
			flex: 1 1 544px;
			max-height: 375px;
			filter: brightness(.44);
			transition: filter 0.5s ease 0s;
			cursor: pointer;
			overflow: hidden;
			@media (any-hover: hover){
				&:hover{
					filter: brightness(1);
					.lg__name {
						left: 50px;
						transition: left 0.7s ease .5s;
					}
					&::before {
						width: 100%;
					}
				}
			}
			&::before{
				content:'';
				position: absolute;
				bottom: 12px;
				left: 0;
				width: 0%;
				height: 35px;
				background: rgba(0, 0, 0, 0.47);
				z-index: 1;
				transition: all .5s ease 0s;
				@media (max-width:em(1024)){
					width: 100%;
				}
			}
			@media (max-width:em(1024)){
				filter: brightness(1);
			}
		}
		// .lg__tumbnail
		&__tumbnail {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		// .lg__name
		&__name {
			position: absolute;
			bottom: 15px;
			left: 100%;
			color: $white;
			font-weight: 300;
			font-size: 24px;
			line-height: math.div(28 , 24);
			transition: left 0.5s ease 0s;
			z-index: 2;
			@media (max-width:em(1024)){
				left: 50px;
			}
		}
}
