.dealer {
	@media (max-width:$mobile){
		padding-bottom: rem(27);
	}
	&__container {
		@include adaptiveValue("padding-top",32 ,16 );
	}

	&__title {
		
		@include adaptiveValue("padding-bottom",218 ,27,1920,320,1 );
		font-weight: 300;
		@include adaptiveValue("font-size",36 ,24 );
		line-height: math.div(42 ,36 );
		text-transform: uppercase;
		color: $mainColor;
		text-align: center;
		@media (max-width:$tablet) and (orientation:landscape){
			padding-bottom: rem(20);
			padding-top: rem(20);
		}
	}

	&__advantages {

		padding-bottom: rem(50);
		margin-bottom: rem(50);
		border-bottom:5px solid $orange;
		display: grid;
		grid-template-columns: repeat(3, 1fr );
		@media (max-width:$mobile){
			display: none;
		}
	}

	&__steps {
		@media (max-width:$mobile){
			display: none;
		}
	}

	&__want {
		
	}
}
.bredcrump {

	&__container {
	}

	&__body {
	}

	&__item {
	}

	&__link {
	}
}
.advanrages {

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	&__image-ibg {
		padding-bottom: 100%;
		width: 100%;
		max-width: rem(328);
	}

	&__tilte {
		font-size: rem(24);
		line-height: math.div(28 ,24 );
	}
}
.steps {

	&__title {
		@include adaptiveValue("padding-bottom",106 ,20 );
		font-size: rem(36);
		line-height: math.div(42 ,36 );
		text-align: center;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr );
		padding-bottom: rem(62);
	}

	&__item {
	}
}
.item-step {
	display: flex;
	flex-direction: column;
	align-items: center;
	&:not(:first-child){
		.item-step__box:before{
			position: absolute;
			content: "";
			top: 50%;
			left: -85%;
			transform: translate(0, -50%);
			background: url("@img/dealer/long-arrow.svg") 0 0 / contain no-repeat;
			width: 82.5%;
			height: 30px;
			z-index: -1;
		}
	}
	&__box{
		position: relative;
		margin-bottom: rem(54);
	}
	&__image { 
		border-radius: 50%;
		border: 3px solid $mainColor;
		max-width: rem(200);
		overflow: hidden;
	}

	&__title {
		font-weight: 700;
		font-size: rem(24);
		line-height: math.div(28 ,24 );
		padding-bottom: rem(5);
	}

	&__subtitle {
		font-size: rem(24);
		line-height: math.div(28 ,24 );
		text-align: center;
	}
}
.want {
	@media (max-width:$mobile){
		display: none;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&__title {
		@include adaptiveValue("font-size",48 ,24 );
		line-height: 150%
	}

	&__subtitle {
		font-weight: 300;
		@include adaptiveValue("font-size",36 ,20 );
		line-height: 150%;
		@include adaptiveValue("padding-bottom",46 ,10 );
	}

	&__button {
		@include adaptiveValue("margin-bottom",115 ,30 );
	}
}








//===========================DEALER PAGE FORM========================================

.popup {

	
	&_dealer {
	}

	&__wrapper {

		&_dealer {
		}
	}

	&__content {
		&_dealer {
			
		}
	}
	&__additional-package{
		display: none;
		border-radius: 0px;
		max-width: rem(1111);
		background: #F4F4F4;
		border: 10px solid #FF8A00;
		padding-top: rem(52);
		padding-bottom: rem(106);
		@media (max-width:$mobile){
			display: block;
			border: 3px solid #FF8A00;
			padding-top: rem(17);
		padding-bottom: rem(30);
		}
	}
	&__close {
		&_dealer {
			position: absolute;
			top:20px;
			right: 20px;
		}
	}

	&__form {
	}
}
.form-dealer {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		font-size: rem(36);
		line-height: math.div(42 ,36 );
		text-align: center;
		text-transform: uppercase;
		padding-bottom: rem(31);
		@media (max-width:$mobile){
			display: none;
		}
	}

	&__subtitle {
		font-size: rem(18);
		@include adaptiveValue("font-size",18 ,12 );
		line-height: math.div(21 ,18 );
		text-align: center;
		@include adaptiveValue("padding-bottom",41 ,27 );
		padding-left: rem(20);
		padding-right: rem(20);
		@media (max-width:$mobile){
			font-weight: 300;
		}
	}
	&__form{
		display: flex;
		justify-content: center;
		padding: 0px rem(25);
		width: 100%;
		max-width: rem(609);
	}
}
.dealer-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: rem(38);
	@media (max-width:$mobile){
		row-gap: rem(10);

	}
	&__name,
	&__company,
	&__phone,
	&__email,
	&__region,
	&__message{
		display: flex;
		flex-direction: column;
		align-self: stretch;
	}
	&__name {
	
	}

	&__company {
		
	}

	&__phone {
		
	}

	&__email {
		
	}

	&__region {
		
	}

	&__message {
		
	}

	&__button {
		max-width: rem(216);
		margin: 0 auto;
		@media (max-width:$mobile){
			margin-top: rem(20);
		}
	}
}


.label-dealer{
	line-height: math.div(28 ,24 );
	@include adaptiveValue("font-size",24 ,12 );
}
.input-dealer{
	background: $white;
	border: 2px solid #FF8A00;
	padding: rem(21);
	@include adaptiveValue("font-size",24 ,12 );
	@media (max-width:$mobile){
		padding: rem(5);
	}
}
.name-dealer {

	&__label {
	}

	&__input {
	}
}
.company-dealer {

	&__label {
	}

	&__input {
	}
}
.phone-dealer {

	&__label {
	}

	&__input {
	}
}
.email-dealer {

	&__label {
	}

	&__input {
	}
}
.region-dealer {

	&__label {
	}

	&__select {
		
	}
	
	&__option {
		
	}
}
.message-dealer {
	display: flex;
	flex-direction: column;
	&__label {
	}

	&__input {
		resize: none;
		flex:1 1 rem(265);
		@media (max-width:$mobile){
			flex:1 1 rem(172);
		}
	}
}
.common-button {

	&_dealer {
	}
}
