// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	text-align: center;
	// .select__body
	&__body {
		position: relative;
		display: inline-block;
	}
	// .select__title
	&__title {
		color: inherit;
		cursor: pointer;
	}
	// .select__value
	&__value {
		display: flex;
		@include adaptiveValue("font-size", 63, 24);
		line-height: math.div(75 , 63);
		@include adaptiveValue("padding-left", 30, 10);
		@include adaptiveValue("padding-right", 30, 10);
		&:before {
			position: absolute;
			left: 100%;
			@extend %ic;
			@extend ._icon-arrow-down;
			@include adaptiveValue("font-size", 23, 13);
			color: $orange;
			align-self: center;
			transition: all 0.3s ease 0s;
			._select-open & {
				transform: rotateX(180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		width: 110%;
		color: inherit;
		position: absolute;
		@include adaptiveValue("font-size", 25, 16);
		@include adaptiveValue("top", 75, 40);
		border-radius: 4px;
		left: 50%;
		transform: translate(-38%,0px);
		padding: 10px 0px 5px 0px;
		z-index: 1;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {

		width: 90%;
		display: block;
		text-align: center;
		cursor: pointer;
		padding: 10px 15px;
		color: inherit;
		border-radius: 4px;
		background: $buttonGray;
		transition: all 0.3s ease 0s;
		color: $orange;
		&._select-selected {
			background-color: $orange;
		}
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $orange;
				color: $white;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}


}

// Тег
._select-tag {
	cursor: pointer;
}


//=============================================DEALER SELECT===========================================

.select_region-dealer__select{
	background-color: $white;
	border: 2px solid #FF8A00;
	//color: transparent;
	@include adaptiveValue("font-size",24 ,12 );
}
.select_region-dealer__select .select__body{
	width: 100%;
	
}
.select_region-dealer__select .select__title{
	text-align: left;
	width: 100%;
}
.select_region-dealer__select .select__content{
	@include adaptiveValue("font-size",24 ,12 );
	width: 100%;
}
.select_region-dealer__select .select__option{
	margin: 0;
	width: 100%;
	text-align: left;
	background-color: $white;
	@include adaptiveValue("font-size",24 ,12 );
	padding: rem(23);
	border-radius: 0;
	color: $mainColor;
	@media (max-width:$mobile){
		padding: rem(5);
		background-color: $midGrey;
	}
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
			color: $white;
			background-color: $orange;
		}
	}
}
.select_region-dealer__select .select__options{
	border: 2px solid #FF8A00;
	box-sizing: content-box;
	width: 100%;
	left: -2px;
	top:0;
	transform: translate(0,0);
	padding: 0;
	border-radius: 0;
}

.select_region-dealer__select .select__value{
	font-size: rem(24);
	padding: rem(23);
	width: 100%;
	@media (max-width:$mobile){
		padding: rem(5);
	}
	&:before{
		display: none;
	}
}

