// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	text-align: center;
	// .select__body
	&__body {
		position: relative;
		display: inline-block;
	}
	// .select__title
	&__title {
		color: inherit;
		cursor: pointer;
	}
	// .select__value
	&__value {
		display: flex;
		@include adaptiveValue("font-size", 63, 24);
		line-height: math.div(75 , 63);
		@include adaptiveValue("padding-left", 30, 10);
		@include adaptiveValue("padding-right", 30, 10);
		&:before {
			position: absolute;
			left: 100%;
			@extend %ic;
			@extend ._icon-arrow-down;
			@include adaptiveValue("font-size", 23, 13);
			color: $orange;
			align-self: center;
			transition: all 0.3s ease 0s;
			._select-open & {
				transform: rotateX(180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		width: 120%;
		color: inherit;
		position: absolute;
		@include adaptiveValue("font-size", 25, 16);
		@include adaptiveValue("top", 75, 40);
		border-radius: 4px;
		left: 50%;
		transform: translate(-37%,0px);
		background-color: $darkGrey;
		padding: 10px 0px 5px 0px;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 90%;
		display: block;
		text-align: center;
		cursor: pointer;
		padding: 10px 15px;
		color: inherit;
		margin: 0px auto;
		border-radius: 4px;
		transition: all 0.3s ease 0s;
		color: $orange;
		&._select-selected {
			background-color: $orange;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $orange;
				color: $white;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
