// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	text-align: center;
	// .select__body
	&__body {
		position: relative;
		display: inline-block;
	}
	// .select__title
	&__title {
		color: inherit;
		cursor: pointer;
	}
	// .select__value
	&__value {
		display: flex;
		@include adaptiveValue("font-size", 63, 24);
		line-height: math.div(75 , 63);
		@include adaptiveValue("padding-left", 30, 10);
		@include adaptiveValue("padding-right", 30, 10);
		&:before {
			position: absolute;
			left: 100%;
			@extend %ic;
			@extend ._icon-arrow-down;
			@include adaptiveValue("font-size", 23, 13);
			color: $orange;
			align-self: center;
			transition: all 0.3s ease 0s;
			._select-open & {
				transform: rotateX(180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		position: absolute;
		width: 100%;
		@include adaptiveValue("font-size", 25, 16);
		@include adaptiveValue("top", 75, 40);
		border-radius: 4px;
		left: 50%;
		transform: translate(-38%,0px);
		padding: 10px 0px 5px 0px;
		z-index: 1;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		display: block;
		text-align: center;
		cursor: pointer;
		padding: 10px 15px;
		color: inherit;
		border-radius: 4px;
		background: $buttonGray;
		transition: all 0.3s ease 0s;
		color: $orange;
		&._select-selected {
			background-color: $orange;
		}
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $orange;
				color: $white;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}


}

// Тег
._select-tag {
	cursor: pointer;
}


//=============================================DEALER SELECT===========================================

.select_region-dealer__select{
	background-color: $white;
	border: 2px solid #FF8A00;
	//color: transparent;
	@include adaptiveValue("font-size",24 ,12 );
}
.select_region-dealer__select .select__body{
	width: 100%;
	
}
.select_region-dealer__select .select__title{
	text-align: left;
	width: 100%;
}
.select_region-dealer__select .select__content{
	@include adaptiveValue("font-size",24 ,12 );
	width: 100%;
}
.select_region-dealer__select .select__option{
	margin: 0;
	width: 100%;
	text-align: left;
	background-color: $white;
	@include adaptiveValue("font-size",24 ,12 );
	padding: rem(23);
	border-radius: 0;
	color: $mainColor;
	@media (max-width:$mobile){
		padding: rem(5);
		background-color: $midGrey;
	}
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
			color: $white;
			background-color: $orange;
		}
	}
}
.select_region-dealer__select .select__options{
	border: 2px solid #FF8A00;
	box-sizing: content-box;
	width: 100%;
	left: -2px;
	top:0;
	transform: translate(0,0);
	padding: 0;
	border-radius: 0;
}

.select_region-dealer__select .select__value{
	font-size: rem(24);
	padding: rem(23);
	width: 100%;
	@media (max-width:$mobile){
		padding: rem(5);
	}
	&:before{
		display: none;
	}
}


//=============================================BUY SELECT===========================================

.select_region-buy__select{
	
	@include adaptiveValue("font-size",36 ,18 );
	line-height: math.div(42 ,36 );
	color: $orange;
	
	text-align: left;
	
	@media (max-width:$mobile){
		display: none;
	}


}
.select_region-buy__select .select__body{
	width: 100%;
	
}
.select_region-buy__select .select__title{
	text-align: left;
	width: 100%;
	text-decoration: underline;
}
.select_region-buy__select .select__content{
	@include adaptiveValue("font-size",36 ,18 );
	width: 100%;
}
.select_region-buy__select .select__option{
	margin: 0;
	width: 100%;
	text-align: left;
	background-color: $white;
	@include adaptiveValue("font-size",24 ,12 );
	padding: rem(23);
	border-radius: 0;
	color: $mainColor;
	@media (max-width:$mobile){
		padding: rem(5);
		background-color: $midGrey;
	}
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
			color: $white;
			background-color: $orange;
		}
	}
}
.select_region-buy__select .select__options{
	border: 2px solid #FF8A00;
	width: 100%;
	left: 0;
	top:0;
	transform: translate(0,0);
	padding: 0;
	border-radius: 0;
}

.select_region-buy__select .select__value{
	font-size: rem(24);
	padding: rem(23) rem(0) rem(23) rem(0);
	width: 100%;
	@media (max-width:$mobile){
		padding: rem(5);
	}
	&:before{
		display: none;
	}
}

.buy-form {
	
	&__region {
		padding-bottom: rem(50);
		@media (max-width:$mobile){
			padding-bottom: rem(0);
		}
	}
}
.region-buy {

	&__label {
		padding-bottom: rem(14);
		@media (max-width:$mobile){
			display: none;
		}
	}

	&__select {
	}

	&__option {
	}
}
.label-buy {
	@include adaptiveValue("font-size",36 ,14 );
	line-height: math.div(42 ,36 );
	@media (max-width:$mobile){
		line-height: math.div(16 ,14 );
		padding-bottom: rem(15);
	}

}



//=============================================Catalog filter SELECT===========================================

.select {
	// .select_filter
	&_filter {
		// .select_filter__sizes
		&__sizes {
			border: 1px solid $mainColor;
			box-sizing: border-box;
			border-radius: 3px;
			max-width: 230px;
			transition: background 0.3s ease 0s;
			@media (any-hover: hover){
				&:hover{
					background: $orange;
					.size__option {
						color: $mainColor;
					}
				}
			}

			.select {
				&__value {
					padding: 4px;
					&::before{
						display: none;
					}
				}
				&__options {
					position: static;
					transform: translate(0px,0px);
				}
				&__option {
					border: 1px solid $orange;
					background: transparent;
					transition: background 0.3s ease 0s,
					color 0.3s ease 0s;
					@media (any-hover: hover){
						&:hover{
							background: $orange;
							color: $white;
						}
					}
				}
			}
			.size__option {
				transition: color 0.3s ease 0s;
			}
		}
	}
}
.size {
	&__option {
		@include adaptiveValue("font-size", 24, 14, 1920, 768, 1);
		line-height: math.div(28 , 24);
		color: $mainColor;
	}
}
._select-open {
	@media (any-hover: hover) {
		:hover &{
			background: $white;
			color: $mainColor;
		}
	}
}





