// Заголовки, общие БЄМ блоки и проче...
.page{
	@media (max-width:$mobile){
		background-color:#fff;
	}
}

.title {
	font-weight: 300;
	font-size: 48px;
	line-height: math.div(56, 48);
	color: $mainColor;
	text-align: center;
	@include adaptiveValue("margin-bottom", 75, 30);
}
// Анимация для табов Коллекции на главной страницы (первый блок под шапкой)
@keyframes slit-in-vertical {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


//===============================COMMON-BUTTON================================
.common-button {
	font-size: rem(36);
	line-height: math.div(42 ,36 );
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: $orange;
	padding: rem(17) rem(47);
	border-radius: rem(8);
	transition: all 0.3s ease 0s;
	border: 2px solid transparent;
	@media (any-hover: hover){
		&:hover{
			color: $mainColor;
			border: 2px solid $orange;
			background: transparent;
		}
	}
	&_dealer{
		padding: rem(7) rem(62);
		@media (max-width:$mobile){
			font-size: rem(12);
			padding: rem(6) rem(34);
			
		}
	}
	&_contacts{
		padding: rem(9) rem(36);
		@include adaptiveValue("font-size",18 ,12 );
		text-transform: uppercase;
	}
}