// Заголовки, общие БЄМ блоки и проче...
.page{
	@media (max-width:$mobile){
		background-color:#fff;
	}
}

.title {
	font-weight: 300;
	font-size: 48px;
	line-height: math.div(56, 48);
	color: $mainColor;
	text-align: center;
	@include adaptiveValue("margin-bottom", 75, 75);
}
// Анимация для табов Коллекции на главной страницы (первый блок под шапкой)
@keyframes slit-in-vertical {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



