//=======================================HEADER=============================================================

.header {
	@media (min-width:$mobile){
		padding-top: 50px;
	}
	
	&__top {
		padding: rem(7) 0px;
		background-color: #131313;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		@media (max-width:$mobile){
			display: none;
		}
	}
	&__logo {
		background-color: $mainBackground;
		padding: rem(50) 0 ;
		display: flex;
		justify-content: center;
		
		img{
			max-width: rem(328);
		}
		@media (max-width:$mobile){
			background-color: $white;
			padding: rem(36) 0 rem(17) 0;
			z-index: 99;
			position: relative;
			img{
				max-width: 223px;
			}
		}
		@media (max-width:767.98px) and (orientation:landscape){
			display: none;
		}
		@media(orientation:landscape){
			padding: rem(10) 0 rem(10) 0;
		}
	}
	&__menu {
		//========STICKY для HEADER-MENU по скроллу==================
		transition: all 0.3s ease 0s;
		&.sticky{
			position: fixed;
			top:45px;
			left: 0;
			width: 100%;
			@media (min-width:$mobile){
				background-color: rgba(255, 255, 255, 0.95);
				padding-bottom: rem(20);
			}
			@media (max-width:$mobile){
				top: 0px;
				padding-top: 10px;
			}
		}
		padding-bottom: 50px;
		background-color: $mainBackground;
		z-index: 98;
		position: relative;
		@media (max-width:$mobile){
			background-color: $white;
			padding-bottom: 0;
			}
	}
	&__slider{
		@media (max-width:767.98px) and (orientation:landscape){
			margin-top: 65px;
		}
	}
	&__container {
		@media (max-width:$mobile){
		background-color: $white;
		}
	}
}
//==========СТИЛИ ВЕРХНЕЙ ЧЕРНОЙ ПЛАШКИ ХЕДЕРА========TOP-HEADER==================================
.top-header {
	&__container {
	display: flex;
	justify-content: space-between;
	}

	&__socials {
	}

	&__actions {
	}
}
.socials-header {
	color: $white;
	display: flex;
	column-gap: rem(12);
	&_footer{
		column-gap: rem(5);
		@media (max-width:$mobile){
			column-gap: rem(12);
		}
	}
	//===============СТИЛИ ИКОНОК СОЦ.СЕТЕЙ=======================================================
	&__icon{
		position: relative;
		background-color: $orange;
		width: rem(31);
		height: rem(31);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&:before{
			content: '';
			position: absolute;
			top: -14px;
			left: -6px;
			background-color:transparent;
			width: 43px;
			height: 52px;
		}
		&_footer{
			transition: all 0s ease 0s;
			@media (max-width:$mobile){
				width: rem(38);
				height: rem(38);
			}
			&:before{
				content: '';
				position: absolute;
				top: -7px;
				left: -2px;
				background-color:transparent;
				width: 35px;
				height: 38px;
			}
		}
	}
	&__subtitle{
		color: $mainColor;
		opacity: 0;
		position: absolute;
		top: 38px;
		left:0;
		font-size: rem(0);
		transition: all 0.4s ease 0s;
		background-color: $orange;
		padding:rem(2) rem(4);
		border-radius: 3px;
		white-space: nowrap;
		&:before{
			position: absolute;
			content: '';
			top: -10px;
			left: 5px;
			width: 10px;
			height: 10px;
			background-color:$orange;
			transform: rotate(45deg) translate(7px);
			z-index: -2;
		}
		&_footer{
			top: -27px;
			transition: all 0.2s ease 0s;
			&:before{
				top: 0px;
			}
			&:after{
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 30px;
				background-color: transparent;
			}
		}
	}
	//============ХОВЕР НА ИКОНКАХ СОЦ-СЕТЕЙ=============================================================
	&__item{
		position: relative;
		transition: all 0.4s ease 0s;
		&_footer{
			transition: all 0.4s ease 0s;
			@media (any-hover: hover){
				&:hover{
					position: relative;
					transform: translate(0, -7px);
					.socials-header__subtitle{
						opacity: 1;
						left:0;
						top:-27px;
						font-size: rem(16);
						cursor: default;
						&_footer{
							&:before{
								transition: all 0.4s ease 0s;
								top: 10px;
							}
						}
					}
					.socials-header__icon{
						background-color: $mainBackground;
						&:before{
							content: '';
							position: absolute;
							top: -7px;
							left: -2px;
							background-color:transparent;
							width: 35px;
							height: 45px;
						}
					}
					color:$orange;
				}
			}
		}
		@media (any-hover: hover){
			&:hover{
				position: relative;
				transform: translate(0, 7px);
				.socials-header__subtitle{
					opacity: 1;
					left:0;
					top:38px;
					font-size: rem(16);
					cursor: default;
				}
				.socials-header__icon{
					background-color: $mainBackground;
				}
				color:$orange;
			}
		}
		&_facebook{
			@media (any-hover: hover){
				&:hover{
					transform: translate(0, 7px);
					.socials-header__icon{
						background-color: $mainBackground;
					}
					color:$orange;
				}
			}
		}
		&_instagram{
			@media (any-hover: hover){
				&:hover{
					transform: translate(0, 7px);
					.socials-header__icon{
						background-color: $mainBackground;
					}
					color:$orange;
				}
			}
		}
	}
	//============ХОВЕР НА ИКОНКАХ СОЦ-СЕТЕЙ=============================================================


	&__phone {
		@extend %ic;
		@extend ._icon-phone;
		font-size: rem(18);
	}
	&__viber {
		@extend %ic;
		@extend ._icon-viber;
		font-size: rem(17);
	}
	&__mail {
		@extend %ic;
		@extend ._icon-mail;
		font-size: rem(13);
	}

	&__telegram {
		@extend %ic;
		@extend ._icon-telegram;
		font-size: rem(15);
	}

	&__facebook {
		@extend %ic;
		@extend ._icon-facebook;
		font-size: rem(21);
	}

	&__instagram {
		@extend %ic;
		@extend ._icon-instagram;
		font-size: rem(19);
	}

}

//==========СТИЛИ КНОПОК ХЕДЕРА=================================
.actions-header {
	color: $orange;
	border: 2px solid $orange;
	border-radius: 3px;
	display: inline-flex;
	@media (max-width:$mobile){
		border: 0px solid $orange;
	}

//==========СТИЛИ КНОПКИ И ПОЛЯ ПОИСКА============================
	&__search{
		display: flex;
	}
	&__search-input{
		background-color: $white;
		font-size: rem(14);
		color: $mainColor;
		width: 0px;
		transition: all 0.3s ease 0s;
		&:focus{
			outline:0px solid $orange ;
			background-color: #cecece;
		}
		&._search-active{
			width: 200px;
			padding: 0px rem(15);
		}
		@media (max-width:$mobile){
			position: absolute;
			right: 70px;
			&._search-active{
				border: 2px solid $orange;
			background-color: $white;
			border-radius: 3px;
			position: absolute;
			z-index: 100;
			right: 70px;
			height: 42px;
			width: calc(100% - 70px);
			top:0px;
			}
			
		}
		@media (max-width:$mobile) and (orientation:landscape){
			right: 90px;
			&._search-active{
			top:10px;
			right: 90px;
			width: calc(100% - 105px);
			}
			
		}

	}
	&__search-button {
		@extend %ic;
		@extend ._icon-search;
		font-size: rem(20);
		align-self: center;
		display: flex;
		align-items: center;
		column-gap: rem(4);

		padding: 0px rem(4) 0px rem(11);
		height: 100%;
		transition: all 0.3s ease 0s;
		@media (max-width:$mobile){
			color:$mainBackground;
			background-color: $orange;
			font-size: rem(13);
			padding: rem(6);
			border-radius: 2px;
		}
		span{
		@extend %ic;
		@extend ._icon-arrow-down;
		font-size: rem(4);
		@media (max-width:$mobile){
			display: none;
		}
		}
		@media (any-hover: hover){
			&:hover{
				background-color: $orange;
				color: $white;
			}
		}
	}
//==========СТИЛИ КНОПКИ И ПОЛЯ ПОИСКА============================


//===========СТИЛИ КНОПОК ЯЗЬІКОВ=================================
	&__language{
		position: relative;
		z-index: 2;
	}
	&__english {
		font-weight: 700;
		font-size: rem(16);
		line-height: math.div(20 ,17 );
		text-transform: uppercase;
		border-left: 2px solid $orange;
		display: flex;
		align-items: center;
		column-gap: rem(4);
		padding-left: rem(6);
		padding-right: rem(4);
		height: 100%;
		transition: all 0.3s ease 0s;
		position: relative;
		z-index: 3;
		@media (max-width:$mobile){
			border-left: 0px solid $orange;
			font-size: rem(13);
		}
		@media (any-hover: hover){
			&:hover{
				background-color: $orange;
				color: $white;
			}
		}
		span:first-child{
			width: rem(32);
			text-align: left;
		}
		span.arrow-down{
			@extend %ic;
			@extend ._icon-arrow-down;
			font-size: rem(4);
			@media (max-width:$mobile){
				display: none;
			}
		}
	}
	&__russian{
		font-weight: 700;
		font-size: rem(16);
		line-height: math.div(20 ,17 );
		text-transform: uppercase;
		position: absolute;
		top: rem(36);
		left: 0;
		font-size: rem(0);
		transition: all 0.2s ease 0s;
		opacity: 0;
		color: $orange;
		border: 0px solid $orange;
		border-radius: 3px;
		display: flex;
		align-items: center;
		column-gap: rem(4);
		padding-left: rem(6);
		padding-right: rem(4);
		height: 0px;
		z-index: 1;

		background-color: $mainColor;
		@media (any-hover: hover){
			&:hover{
				background-color: $orange;
				color: $white;
			}
		}
		span:first-child{
			width: rem(42);
			text-align: left;
		}
		._search-active &{
			top: rem(36);
			left: 0;
			opacity: 1;
			z-index: 2;
			cursor: pointer;
			font-size: rem(16);
			height: rem(31);
			border: 2px solid $orange;
			@media (max-width:$mobile){
				display: none;
			}
			&:before{
				content: '';
				position: absolute;
				top: -10px;
				right: 0px;
				width:100%;
				height: 10px;
				background-color: transparent;
				cursor: default;
				z-index: -1;
			}
		}
	}
//===========СТИЛИ КНОПОК ЯЗЬІКОВ=================================
}
//===========СТИЛИ КНОПОК ХЕДЕРА=================================


//================(=========================HEADER_TOP===========================================================








.menu-header {
	position: relative;
	
	&__icon {
	}

	&__burger-header{
		display: none;
		@media (max-width:$mobile){
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: rem(10);
			position: relative;
			z-index: 2;
			background-color: $white;
		}
		@media (orientation:landscape){
			padding: rem(10) rem(15);
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
		}
	}

	&__body {
		@media (max-width:$mobile){
			margin: 0;
			position: fixed;
			left: -120%;
			top: 0;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease 0s;
			z-index: 1;
			display: flex;
			flex-direction: column;
			padding-top: rem(200);
			@media (orientation:landscape){
				padding-top: rem(62);
			}
			overflow: auto;
			.menu-open & {
				left: 0;
				background-color:$white;
				flex:1 1 auto;
			}
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		padding-bottom: rem(20);
		border-bottom: rem(4) solid $orange;
		@media (max-width:$mobile){
			display: flex;
			flex-direction: column;
			justify-content: start;
			row-gap: rem(16);
			background-color: $lightGrey;
			border-radius: 2px;
			margin:0 15px 15px 15px;
			flex:1 1 auto;

			padding: rem(10) rem(10) rem(0) rem(10);
			border-bottom: 0px solid $orange;
		}
	}

	&__item {
		@include adaptiveValue("font-size",30,24,1024,768,1 );
		white-space: nowrap;
		line-height: math.div(35 ,30);
		font-variant: small-caps;
		transition: color 0.3s ease 0s, border-bottom 0.3s ease 0s, padding-bottom 0.3s ease 0s;
		&_submenu{
			position: relative;
			@include adaptiveValue("font-size",30,24,1024,768,1 );
			white-space: nowrap;
			line-height: math.div(35 ,30);
			font-variant: small-caps;
			transition: all 0.3s ease 0s;

			&:before {
				display: none;
				transition: all 0.3s ease 0s;
				position: absolute;
				top: 9px;
				left:135px;
				@extend %ic;
				@extend ._icon-arrow-forward;
				font-size: rem(14);
				@media (max-width:$mobile){
						display: inline-block;
					}
				.submenu-show &{
					transform:rotate(90deg) translate(2px, 0px);
				}
			}
			@media (max-width:$mobile){
				.submenu-show &{
				padding-bottom: rem(6);
				}
			}
		}
		@media (max-width:$mobile){
			font-weight: 300;
			font-size: rem(24);
			line-height: math.div(28 ,24 );
		}
		&.active-link{
			color:$orange;
		}
		@media (any-hover: hover){
			&:hover{
				color:$orange;
			}
		}
	}

	&__link {
		position: relative;

	
		border-bottom: 0px solid transparent;
		padding-bottom: rem(0);

		@media (max-width:$mobile){
			font-weight: 300;
			font-size: rem(24);
			line-height: math.div(28 ,24 );
		}
		
	}
	&__option{
		
	}
}







//========ПОЛЗУНОК======================
#border {
	height:8px;
	background-color: $orange;
	position:absolute;
	@media (max-width: em(767.98)){
		display: none;
	}
}











//Burger
.menu-word{
	position: relative;
	padding-left: 38px;
	font-weight: 700;
	font-size: rem(18);
	text-transform: uppercase;
	color: $orange;
	position: relative;

}
.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(42);
		height: rem(42);
		cursor: pointer;
		z-index: 5;
		padding: 13px 12px 14px 12px ;
		background-color: $lightGrey;
		border-radius: 2px;
		span.burger-span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 12px;
			position: absolute;
			width: rem(18);
			height: rem(3);
			background-color: $orange;
			border-radius: 4px;
		}
		&::before {
			top: 13px;
		}
		&::after {
			bottom: 14px;
		}
		span.burger-span {
			top: calc(50% - rem(2));
		}
		.menu-open & {
			span.burger-span {
				width: 0;
			}
			&::before,
			&::after {
				width: 24px;
				left: 9px;
			}
			&::before {
				top: calc(50% - rem(2));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}





//===========HEADER SUB-MENU=======================================


.header-submenu {


	&__body {
		position: absolute;
		width: 100%;
		top:rem(37);
		font-size: 0px;
		z-index: 10;
		display: flex;
		flex-direction: column;
		row-gap: rem(0);
		&::before{
			content: "";
			position: absolute;
			top: -5px;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		@media (max-width:$mobile){
			position: relative;
			top:rem(0);
		}
		.submenu-show &{
			row-gap: rem(9);
			@include adaptiveValue("font-size",30,24,1024,768,1 );
			font-size: rem(30);
		}
	}


	&__item {
		background-color: #737373;
		border-radius: rem(4);
		padding-bottom: rem(0);
		text-align: center;
		transition: color 0.3s ease 0s, background-color 0.3s ease 0s, ;
		.submenu-show &{
			padding-bottom: rem(4);
		}
		@media (any-hover: hover){
			&:hover{
				.header-submenu__link{
					color:$white;
				}
				
				background-color: $orange;
			}
		}
	}

	&__link {
		transition: all 0.3s ease 0s;
		color:$orange;
	}
}




// =========HEADER-SLIDER=========================================

.header-slider {
	
	
	&__images {
		position: relative;
		border-top: 7px solid #4D4D4D;
		border-bottom: 7px solid #4D4D4D;
		margin: 0px 0px 60px 0px;
		//margin-bottom: 70px;
		@media (max-width:$tablet){
			border-top: none;
			border-bottom: none;
		}
		
		@media (any-hover: hover){
			&:hover{
				.header-slider__prev {
					left: 15.2%;
				}
				.header-slider__next {
					right: 15.2%;
				}
			}
		}
	}
	
	// .header-slider__wrapper
	&__wrapper {
		
	}


	// .header-slider__image
	&__image {
		width: percent(1135, 1920);
		max-height: rem(558);
		border-left: 7px solid #4D4D4D;
		border-right: 7px solid #4D4D4D;
		@media (max-width:$tablet){
			border-left: none;
			border-right: none;
		}
		@media (max-width:$mobile){
			width: 100%;
			padding: 0px rem(15);
			max-height: 263px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.swiper-slide-prev,
		&.swiper-slide-next {
			transition: all 0.3s ease 0s;
			filter: brightness(.26)
		}
	}

	// .header-slider__prev
	&__prev {
		position: absolute;
		top: 50%;
		left: -100%;
		font-size: rem(49);
		color: $white;
		transform: translate(0px, -50%);
		cursor: pointer;
		transition: left 0.8s ease 0s;
		@media (max-width:em(1366)){
			left: 15.2%;
		}
		@media (max-width:$mobileSmall){
			left: 6%;
		}
		@media (max-width:$mobile){
				font-size: rem(23);
				color: #ffffffa6;
				left: 6%;
		}
	}

	// .header-slider__next
	&__next {
		position: absolute;
		top: 50%;
		right: -100%;
		font-size: rem(49);
		color: $white;
		transform: translate(0px, -50%);
		cursor: pointer;
		transition: right 0.8s ease 0s;
		@media (max-width:em(1366)){
			right: 15.2%;
		}
		@media (max-width:$mobileSmall){
			right: 6%;
		}
		@media (max-width:$mobile){
				right: 6%;
				font-size: rem(23);
				color: #ffffffa6;
		}
	}
}

//=======ПАГИНАЦИЯ HEADER SLIDER===========================
.header-slider {
position: relative;
	
	&__pagination {
		
	}
}
.swiper-pagination {
	@media (min-width:$mobile){
		display: none;
	}
	display: flex;
	height: 10px;
	width: auto;
	bottom: 6px;
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	z-index: 6;
	column-gap: 4px;
	align-items: center;
}
.swiper-pagination-bullets {

}
.swiper-pagination-horizontal {

}
.swiper-pagination-bullet {
	height: 4px;
	width: 4px;
	background-color: #C4C4C4;
}
.swiper-pagination-bullet-active{
	height: 6px;
	width: 6px;
	background-color: #FF8A00;
}



// =========HEADER-SLIDER=========================================


